/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 .top-page{
  padding-left: 30px;
  line-height: 2.5;
 }

 .top-page h1 {
  margin-bottom: 10px;
}

.top-page p {
  padding-left: 30px;
  margin-bottom: 15px;
}

.books-index{
  padding-left:30px;
  line-height: 2;
}


.books-index th,
.books-index td {
  padding-left: 15px; 

}

.books-index input[type="submit"]{
  display: block;
  margin-top: 10px;
  padding: 1px 5px;
}

.books-index th {
  text-align: center;
}

.books-index td a {
  margin-right: 10px; 
}

.books-show p {
  padding-left: 60px;
  margin: 30px auto;
}

.books-show .links{
  margin-left: -30px;
}



.books-edit {
  margin: 30px;
}

.notice-message {
  color: green; /* 文字色を緑にする */
}

.books-edit .form {
  padding: 10px 0;
}

.books-edit input[type="submit"]{
  display: block;
  padding: 1px 5px;
  margin-bottom: 10px;
}

.books-edit h4 {
  font-weight: normal;
}

#error_explanation {
  border: 3px solid #ff031c;
  font-family: Arial, sans-serif;
  width: 580px;
  text-align: left;
}

/* タイトル部分（左揃え） */
#error_explanation h4 {
  background-color: #c60014;
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

/* エラーメッセージリスト部分 */
#error_explanation ul {
  margin: 0;
  padding: 40px 200px 40px 80px;
  background-color: #f2f2f2;
  list-style-type: disc;
}

#error_explanation li {
  margin: 6px 0;
  text-align: left;
}


